body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(49, 87, 87, 0.5);
  padding: 0; /* Ensure no padding */
}

.App {
  width: 100%; /* Increased the width */
  max-width: 1200px; /* Added a max-width to maintain a good layout on larger screens */
  text-align: center;
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Ensure it's centered */ 
  box-sizing: border-box
}

header.App-header {
  margin-bottom: none; /* Reduced margin-bottom to decrease space */
  padding-bottom: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input,
select,
button {
  margin: 15px 0;
  padding: 15px;
  font-size: 1.2em;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

p {
  font-size: 1.4em;
  margin-top: 20px;
  color: #1767bc;
}
