/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  width: 80%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header.App-header {
  margin-bottom: 30px;
}

input,
select,
button {
  margin: 15px 0;
  padding: 15px;
  font-size: 1.2em;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

p {
  font-size: 1.4em;
  margin-top: 20px;
  color: #1767bc;
}
